/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,button,input,select,textarea {    color: #333333; }
body {    font-size: 1em;    line-height: 1.4; }

::-moz-selection {    background: #b3d4fc;    text-shadow: none;}
::selection {    background: #b3d4fc;    text-shadow: none;}
hr {    display: block;    height: 1px;    border: 0;    border-top: 1px solid #b5b5b5;    margin: 2.3em 0;    padding: 0;}
img {    vertical-align: middle; }
fieldset {    border: 0;    margin: 0;    padding: 0;}
textarea {    resize: vertical; }
.chromeframe {    margin: 0.2em 0;     background: #ccc;    color: #000;    padding: 0.2em 0;}

@font-face {
    font-family:'parry';
	src:url('../fonts/ParryPro-Bold.eot');
	src:url('../fonts/ParryPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ParryPro-Bold.woff') format('woff'),
		url('../Fonts/Parry-Bold.ttf') format('truetype'),
		url('../Fonts/serif12beta-bold-webfont.svg#serif12_beta_rgbold') format('svg');
		font-weight:bold;
		font-style:normal;
}

@font-face {
    font-family:'parry';
	src:url('../fonts/ParryPro-Normal.eot');
	src:url('../fonts/ParryPro-Normal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ParryPro-Normal.woff') format('woff'),
		url('../Fonts/Parry-Normal.ttf') format('truetype'),
		url('../Fonts/serif12beta-regular-webfont.svg#serif12_beta_rgregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family:'parry';
	src:url('../fonts/ParryPro-BoldItalic.eot');
	src:url('../fonts/ParryPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ParryPro-BoldItalic.woff') format('woff'),
		url('../fonts/Parry-BoldItalic.ttf') format('truetype'),
		url('../fonts/serif12beta-bold-webfont.svg#serif12_beta_rgbold') format('svg');
	font-weight:bold;
	font-style:italic;
}

@font-face {
    font-family:'parry';
	src:url('../fonts/ParryPro-NormalItalic.eot');
	src:url('../fonts/ParryPro-NormalItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ParryPro-NormalItalic.woff') format('woff'),	
		url('../Fonts/Parry-NormalItalic.ttf') format('truetype'),
		url('../Fonts/serif12beta-regular-webfont.svg#serif12_beta_rgregular') format('svg');
		font-weight:normal;
		font-style:italic;
}

body , p 		{ font: 16px/26px Helvetica, Helvetica Neue, Arial; }

h1, h2, h3 		{ font-family:"parry",Arial,sans-serif;color:#5e402a;font-weight:normal;text-align:center;}
h3				{ font-weight:bold;font-size:20px;color:#9abed8;text-align: left;margin:0;padding-top: 15px; }
a.button 		{ display: block;background: transparent url('../img/sprite-campagne.png?v2') no-repeat left -3px;width: 260px;height: 32px;color: #fff;text-decoration: none;line-height: 34px;font-family: "parry";padding-left: 36px;font-size: 14px;}
a.button.order	{ background-position: left -273px;}
.main 			{ padding: 5px 0;} 
.main article h1 	{ font-size: 25px; line-height: 35px; }

.header-container		{ width:810px; position:relative;margin:0 auto;}
/*.header-container #like	{ position: absolute;right: 0;top: 0;background: transparent url('../img/sprite-campagne.png') no-repeat -1px -321px;width: 317px;height: 32px; display:none;}*/
.header-container img 	{ width:100%;}

.main-container	{width:810px;margin:0 auto;}

article header		{width:85%;margin-left: 56px;}
article section		{width:95%;margin-left: 22px;}
#steps div		{text-align:justify;}
#steps div img	{border:1px solid #b5b5b5;margin-right: 30px}
#steps div img:last-child {margin-right: 0;}
#steps span				{color: #5e402a;display: block;width: 100%;margin-top: 10px;font-size:12px;}
#steps span a				{color:#f18e00;}

#no_old_books				{background:#97bfd9;padding-top: 1px;position:relative;overflow:auto;}
#no_old_books .container		{margin:24px 0 21px 239px;}
#no_old_books h2				{background:transparent url('../img/sprite-campagne.png?v2') no-repeat left -45px;width:320px;height:31px;text-indent:-999px;overflow:hidden;margin:0 0 13px 35px;}
#no_old_books ul				{padding:0;overflow:auto;margin:0;}
#no_old_books ul li			{float:left;width:40%;list-style:square;color:#fff;margin:5px 0 22px 34px;line-height:18px;}
#no_old_books ul li span		{color:#5e402a;font-size:14px;}
#no_old_books .square		{width:150px;height:150px;background:transparent url('../img/sprite-campagne.png?v2') no-repeat -2px -95px;position:absolute;top:30px;left:38px;}

footer				{position:relative;}
footer .container		{margin:24px 0 21px 295px;}
footer .container p	{width:83%;}
footer .spotify		{width:180px;height:200px;background:transparent url('../img/sprite-campagne.png?v3') no-repeat -163px -70px;position:absolute;top:-20px;left:53px;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
